<div class="table-responsive container mt-5">
  <table class="table container-fluid center">
    <tr
      style="
        background-color: rgb(240, 226, 226);
        color: black;
        text-align: center;
      "
    >
      <th>FIRSTNAME</th>
      <th>LASTNAME</th>
      <th>BIRTHDATE</th>
      <th>EMAIL</th>
      <th>GENDER</th>
      <th>COURSE</th>

      <th></th>
      <th></th>
    </tr>
    <tr *ngIf="allproducts.length < 1 && !isfetching">
      <td colspan="5" style="text-align: center; font-weight: bold">
        no information available of employees
      </td>
    </tr>
    <tr *ngIf="isfetching">
      <td colspan="5" style="text-align: center; font-weight: bold">
        loading....
      </td>
    </tr>
    <tr *ngFor="let emp of allproducts">
      <td>{{ emp.fname | titlecase }}</td>
      <td>{{ emp.lname | titlecase }}</td>
      <td>{{ emp.birthdate }}</td>
      <td>{{ emp.email }}</td>
      <td>{{ emp.gender | titlecase }}</td>
      <td>
        {{ emp.course }}
      </td>
      <td>
        <button class="btn btn-primary" (click)="ondelete(emp.id)">
          delete
        </button>
      </td>
      <td>
        <button
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          class="btn btn-primary"
          (click)="onedit(emp.id)"
        >
          edit
        </button>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <button class="btn btn-success mx-5" (click)="onfetch()">Add</button>
      </td>
      <td colspan="3">
        <button class="btn btn-danger mx-5" (click)="deleteall()">
          deleteAll
        </button>
      </td>
    </tr>
  </table>
</div>

<!-- modal -->
<!-- Button trigger modal -->
<div class="container">
  <button
    style="position: relative; left: 500px"
    type="button"
    class="btn btn-primary mt-2"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    click to register
  </button>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- form starts -->
        <form
          #myForm="ngForm"
          class="form-control container"
          (ngSubmit)="onsubmit(myForm.value)"
        >
          <div class="container" style="width: 50%">
            <label for="fname" class="form-label">firstname</label>
            <input
              id="fname"
              type="text"
              class="form-control"
              placeholder="enter your firstname"
              name="fname"
              ngModel
            />
            <br />
            <label for="lname" class="form-label">lastname</label>
            <input
              id="lname"
              type="text"
              class="form-control"
              placeholder="enter your lastname"
              name="lname"
              ngModel
            />
            <br />
            <label for="email" class="form-label">email</label>
            <input
              id="email"
              type="email"
              class="form-control"
              placeholder="enter your email"
              name="email"
              ngModel
            />
            <br />
            <label for="date" class="form-label">birthdate</label>
            <input
              id="date"
              type="date"
              class="form-control"
              name="birthdate"
              ngModel
            />
            <br />
            <!-- course  -->
            <select
              class="form-select"
              aria-label="Default select example"
              name="course"
              [ngModel]="default"
            >
              <option selected>select a course</option>
              <option value="MEAN  & MERN stack">mean & mern stack</option>
              <option value="JAVA">java</option>
              <option value="python">python</option>
            </select>
            <!-- coure  -->
            <!-- radio start  -->
            <div class="form-check">
              <label
                class="form-check-label"
                style="font-weight: bold; font-size: larger"
              >
                gender
              </label>
              <br />
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                value="male"
                id="flexRadioDefault1"
                ngModel
              />
              <label class="form-check-label" for="flexRadioDefault1">
                male
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="flexRadioDefault2"
                value="female"
                ngModel
                checked
              />
              <label class="form-check-label" for="flexRadioDefault2">
                female
              </label>
            </div>
            <!-- radio end  -->

            <input
              type="submit"
              value="{{ edit ? 'update' : 'add' }}"
              class="form-control btn btn-primary"
            />
          </div>
        </form>
        <!-- form end  -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- modal end  -->
